[submodule "function/googletest"]
	path = function/googletest
	url = https://github.com/google/googletest.git
[submodule "string/third_party/googletest"]
	path = string/third_party/googletest
	url = https://github.com/google/googletest.git
